header{
    background-color: yellow;
    font-family: 'Rock Salt', cursive;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}
.header-surround {
    background-color: black;
    height: 10px;
}
.container{
    margin-top: 50px;
    padding-top: 25px;
    font-size: 15px;
    font-family:'Rock Salt', cursive ;
    border: 5px, solid, black;
}
.bg-yellow {
    background-color: lightyellow;
}
.task-div:hover {
    cursor: pointer;
}
button {
    height: 70px;
    width: 20%;
    padding:20px;

}
.task-div {
    width:65%;
    height: 50px;
    background-color:lightblue;
    margin:10px;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    opacity: .5;
}
.hour-label {
    padding-top:20px;
    width:10%;
    border-bottom-width: 5px;
    font-family: 'Rock Salt', cursive;
    text-decoration: underline;
}
.footer{
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    button{
        width: 28%;
    }
    .task-div {
        width:52%;
        font-size: 15px;
    }
    .hour-label {
        width:10%;
        font-size: 10px;
    }
  }