
button {
    height: 70px;
    width: 100px;
    padding:20px; 
}
.task-div {
    width:65%;
    height: 50px;
    background-color:lightblue;
    margin:10px;
}
.hour-label {
    margin-top:20px;
    width:75px;
    border-bottom-width: 5px;
}

